<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>(-1,-23)</key>
	<string>genericObstacle</string>
	<key>(-1,-32)</key>
	<string>genericObstacle</string>
	<key>(-1,-6)</key>
	<string>genericObstacle</string>
	<key>(-1,-7)</key>
	<string>genericObstacle</string>
	<key>(-1,-8)</key>
	<string>genericObstacle</string>
	<key>(-1,-9)</key>
	<string>genericObstacle</string>
	<key>(-1,14)</key>
	<string>genericObstacle</string>
	<key>(-1,32)</key>
	<string>genericObstacle</string>
	<key>(-10,-32)</key>
	<string>genericObstacle</string>
	<key>(-10,-9)</key>
	<string>genericObstacle</string>
	<key>(-10,14)</key>
	<string>genericObstacle</string>
	<key>(-10,24)</key>
	<string>genericObstacle</string>
	<key>(-10,32)</key>
	<string>genericObstacle</string>
	<key>(-11,-1)</key>
	<string>genericObstacle</string>
	<key>(-11,-10)</key>
	<string>genericObstacle</string>
	<key>(-11,-11)</key>
	<string>genericObstacle</string>
	<key>(-11,-12)</key>
	<string>genericObstacle</string>
	<key>(-11,-13)</key>
	<string>genericObstacle</string>
	<key>(-11,-14)</key>
	<string>genericObstacle</string>
	<key>(-11,-15)</key>
	<string>genericObstacle</string>
	<key>(-11,-16)</key>
	<string>genericObstacle</string>
	<key>(-11,-17)</key>
	<string>genericObstacle</string>
	<key>(-11,-18)</key>
	<string>genericObstacle</string>
	<key>(-11,-19)</key>
	<string>genericObstacle</string>
	<key>(-11,-2)</key>
	<string>genericObstacle</string>
	<key>(-11,-20)</key>
	<string>genericObstacle</string>
	<key>(-11,-21)</key>
	<string>genericObstacle</string>
	<key>(-11,-22)</key>
	<string>genericObstacle</string>
	<key>(-11,-23)</key>
	<string>genericObstacle</string>
	<key>(-11,-24)</key>
	<string>genericObstacle</string>
	<key>(-11,-25)</key>
	<string>genericObstacle</string>
	<key>(-11,-3)</key>
	<string>genericObstacle</string>
	<key>(-11,-32)</key>
	<string>genericObstacle</string>
	<key>(-11,-4)</key>
	<string>genericObstacle</string>
	<key>(-11,-5)</key>
	<string>genericObstacle</string>
	<key>(-11,-6)</key>
	<string>genericObstacle</string>
	<key>(-11,-7)</key>
	<string>genericObstacle</string>
	<key>(-11,-8)</key>
	<string>genericObstacle</string>
	<key>(-11,-9)</key>
	<string>genericObstacle</string>
	<key>(-11,0)</key>
	<string>genericObstacle</string>
	<key>(-11,1)</key>
	<string>genericObstacle</string>
	<key>(-11,14)</key>
	<string>genericObstacle</string>
	<key>(-11,24)</key>
	<string>genericObstacle</string>
	<key>(-11,32)</key>
	<string>genericObstacle</string>
	<key>(-12,-32)</key>
	<string>genericObstacle</string>
	<key>(-12,-5)</key>
	<string>genericObstacle</string>
	<key>(-12,24)</key>
	<string>genericObstacle</string>
	<key>(-12,32)</key>
	<string>genericObstacle</string>
	<key>(-13,-32)</key>
	<string>genericObstacle</string>
	<key>(-13,-5)</key>
	<string>genericObstacle</string>
	<key>(-13,24)</key>
	<string>genericObstacle</string>
	<key>(-13,32)</key>
	<string>genericObstacle</string>
	<key>(-14,-32)</key>
	<string>genericObstacle</string>
	<key>(-14,-5)</key>
	<string>genericObstacle</string>
	<key>(-14,24)</key>
	<string>genericObstacle</string>
	<key>(-14,32)</key>
	<string>genericObstacle</string>
	<key>(-15,-32)</key>
	<string>genericObstacle</string>
	<key>(-15,-5)</key>
	<string>genericObstacle</string>
	<key>(-15,24)</key>
	<string>genericObstacle</string>
	<key>(-15,32)</key>
	<string>genericObstacle</string>
	<key>(-16,-32)</key>
	<string>genericObstacle</string>
	<key>(-16,-5)</key>
	<string>genericObstacle</string>
	<key>(-16,24)</key>
	<string>genericObstacle</string>
	<key>(-16,32)</key>
	<string>genericObstacle</string>
	<key>(-17,-32)</key>
	<string>genericObstacle</string>
	<key>(-17,-5)</key>
	<string>genericObstacle</string>
	<key>(-17,24)</key>
	<string>genericObstacle</string>
	<key>(-17,32)</key>
	<string>genericObstacle</string>
	<key>(-18,-32)</key>
	<string>genericObstacle</string>
	<key>(-18,-5)</key>
	<string>genericObstacle</string>
	<key>(-18,24)</key>
	<string>genericObstacle</string>
	<key>(-18,32)</key>
	<string>genericObstacle</string>
	<key>(-19,-32)</key>
	<string>genericObstacle</string>
	<key>(-19,-5)</key>
	<string>genericObstacle</string>
	<key>(-19,24)</key>
	<string>genericObstacle</string>
	<key>(-19,32)</key>
	<string>genericObstacle</string>
	<key>(-2,-23)</key>
	<string>genericObstacle</string>
	<key>(-2,-32)</key>
	<string>genericObstacle</string>
	<key>(-2,-9)</key>
	<string>genericObstacle</string>
	<key>(-2,14)</key>
	<string>genericObstacle</string>
	<key>(-2,32)</key>
	<string>genericObstacle</string>
	<key>(-20,-1)</key>
	<string>genericObstacle</string>
	<key>(-20,-10)</key>
	<string>genericObstacle</string>
	<key>(-20,-11)</key>
	<string>genericObstacle</string>
	<key>(-20,-12)</key>
	<string>genericObstacle</string>
	<key>(-20,-13)</key>
	<string>genericObstacle</string>
	<key>(-20,-14)</key>
	<string>genericObstacle</string>
	<key>(-20,-15)</key>
	<string>genericObstacle</string>
	<key>(-20,-16)</key>
	<string>genericObstacle</string>
	<key>(-20,-17)</key>
	<string>genericObstacle</string>
	<key>(-20,-18)</key>
	<string>genericObstacle</string>
	<key>(-20,-19)</key>
	<string>genericObstacle</string>
	<key>(-20,-2)</key>
	<string>genericObstacle</string>
	<key>(-20,-20)</key>
	<string>genericObstacle</string>
	<key>(-20,-21)</key>
	<string>genericObstacle</string>
	<key>(-20,-22)</key>
	<string>genericObstacle</string>
	<key>(-20,-23)</key>
	<string>genericObstacle</string>
	<key>(-20,-24)</key>
	<string>genericObstacle</string>
	<key>(-20,-25)</key>
	<string>genericObstacle</string>
	<key>(-20,-26)</key>
	<string>genericObstacle</string>
	<key>(-20,-27)</key>
	<string>genericObstacle</string>
	<key>(-20,-28)</key>
	<string>genericObstacle</string>
	<key>(-20,-29)</key>
	<string>genericObstacle</string>
	<key>(-20,-3)</key>
	<string>genericObstacle</string>
	<key>(-20,-30)</key>
	<string>genericObstacle</string>
	<key>(-20,-31)</key>
	<string>genericObstacle</string>
	<key>(-20,-32)</key>
	<string>genericObstacle</string>
	<key>(-20,-4)</key>
	<string>genericObstacle</string>
	<key>(-20,-5)</key>
	<string>genericObstacle</string>
	<key>(-20,-6)</key>
	<string>genericObstacle</string>
	<key>(-20,-7)</key>
	<string>genericObstacle</string>
	<key>(-20,-8)</key>
	<string>genericObstacle</string>
	<key>(-20,-9)</key>
	<string>genericObstacle</string>
	<key>(-20,0)</key>
	<string>genericObstacle</string>
	<key>(-20,1)</key>
	<string>genericObstacle</string>
	<key>(-20,10)</key>
	<string>genericObstacle</string>
	<key>(-20,11)</key>
	<string>genericObstacle</string>
	<key>(-20,12)</key>
	<string>genericObstacle</string>
	<key>(-20,13)</key>
	<string>genericObstacle</string>
	<key>(-20,14)</key>
	<string>genericObstacle</string>
	<key>(-20,15)</key>
	<string>genericObstacle</string>
	<key>(-20,16)</key>
	<string>genericObstacle</string>
	<key>(-20,17)</key>
	<string>genericObstacle</string>
	<key>(-20,18)</key>
	<string>genericObstacle</string>
	<key>(-20,19)</key>
	<string>genericObstacle</string>
	<key>(-20,2)</key>
	<string>genericObstacle</string>
	<key>(-20,20)</key>
	<string>genericObstacle</string>
	<key>(-20,21)</key>
	<string>genericObstacle</string>
	<key>(-20,22)</key>
	<string>genericObstacle</string>
	<key>(-20,23)</key>
	<string>genericObstacle</string>
	<key>(-20,24)</key>
	<string>genericObstacle</string>
	<key>(-20,25)</key>
	<string>genericObstacle</string>
	<key>(-20,26)</key>
	<string>genericObstacle</string>
	<key>(-20,27)</key>
	<string>genericObstacle</string>
	<key>(-20,28)</key>
	<string>genericObstacle</string>
	<key>(-20,29)</key>
	<string>genericObstacle</string>
	<key>(-20,3)</key>
	<string>genericObstacle</string>
	<key>(-20,30)</key>
	<string>genericObstacle</string>
	<key>(-20,31)</key>
	<string>genericObstacle</string>
	<key>(-20,32)</key>
	<string>genericObstacle</string>
	<key>(-20,4)</key>
	<string>genericObstacle</string>
	<key>(-20,5)</key>
	<string>genericObstacle</string>
	<key>(-20,6)</key>
	<string>genericObstacle</string>
	<key>(-20,7)</key>
	<string>genericObstacle</string>
	<key>(-20,8)</key>
	<string>genericObstacle</string>
	<key>(-20,9)</key>
	<string>genericObstacle</string>
	<key>(-3,-23)</key>
	<string>genericObstacle</string>
	<key>(-3,-32)</key>
	<string>genericObstacle</string>
	<key>(-3,-9)</key>
	<string>genericObstacle</string>
	<key>(-3,14)</key>
	<string>genericObstacle</string>
	<key>(-3,24)</key>
	<string>genericObstacle</string>
	<key>(-3,32)</key>
	<string>genericObstacle</string>
	<key>(-4,-32)</key>
	<string>genericObstacle</string>
	<key>(-4,-9)</key>
	<string>genericObstacle</string>
	<key>(-4,14)</key>
	<string>genericObstacle</string>
	<key>(-4,24)</key>
	<string>genericObstacle</string>
	<key>(-4,32)</key>
	<string>genericObstacle</string>
	<key>(-5,-32)</key>
	<string>genericObstacle</string>
	<key>(-5,-9)</key>
	<string>genericObstacle</string>
	<key>(-5,14)</key>
	<string>genericObstacle</string>
	<key>(-5,24)</key>
	<string>genericObstacle</string>
	<key>(-5,32)</key>
	<string>genericObstacle</string>
	<key>(-6,-32)</key>
	<string>genericObstacle</string>
	<key>(-6,-9)</key>
	<string>genericObstacle</string>
	<key>(-6,14)</key>
	<string>genericObstacle</string>
	<key>(-6,24)</key>
	<string>genericObstacle</string>
	<key>(-6,32)</key>
	<string>genericObstacle</string>
	<key>(-7,-32)</key>
	<string>genericObstacle</string>
	<key>(-7,-9)</key>
	<string>genericObstacle</string>
	<key>(-7,14)</key>
	<string>genericObstacle</string>
	<key>(-7,24)</key>
	<string>genericObstacle</string>
	<key>(-7,32)</key>
	<string>genericObstacle</string>
	<key>(-8,-32)</key>
	<string>genericObstacle</string>
	<key>(-8,-9)</key>
	<string>genericObstacle</string>
	<key>(-8,14)</key>
	<string>genericObstacle</string>
	<key>(-8,24)</key>
	<string>genericObstacle</string>
	<key>(-8,32)</key>
	<string>genericObstacle</string>
	<key>(-9,-32)</key>
	<string>genericObstacle</string>
	<key>(-9,-9)</key>
	<string>genericObstacle</string>
	<key>(-9,14)</key>
	<string>genericObstacle</string>
	<key>(-9,24)</key>
	<string>genericObstacle</string>
	<key>(-9,32)</key>
	<string>genericObstacle</string>
	<key>(0,-23)</key>
	<string>genericObstacle</string>
	<key>(0,-32)</key>
	<string>genericObstacle</string>
	<key>(0,-9)</key>
	<string>genericObstacle</string>
	<key>(0,14)</key>
	<string>genericObstacle</string>
	<key>(0,32)</key>
	<string>genericObstacle</string>
	<key>(1,-17)</key>
	<string>genericObstacle</string>
	<key>(1,-18)</key>
	<string>genericObstacle</string>
	<key>(1,-19)</key>
	<string>genericObstacle</string>
	<key>(1,-20)</key>
	<string>genericObstacle</string>
	<key>(1,-21)</key>
	<string>genericObstacle</string>
	<key>(1,-22)</key>
	<string>genericObstacle</string>
	<key>(1,-23)</key>
	<string>genericObstacle</string>
	<key>(1,-24)</key>
	<string>genericObstacle</string>
	<key>(1,-25)</key>
	<string>genericObstacle</string>
	<key>(1,-26)</key>
	<string>genericObstacle</string>
	<key>(1,-27)</key>
	<string>genericObstacle</string>
	<key>(1,-28)</key>
	<string>genericObstacle</string>
	<key>(1,-29)</key>
	<string>genericObstacle</string>
	<key>(1,-30)</key>
	<string>genericObstacle</string>
	<key>(1,-31)</key>
	<string>genericObstacle</string>
	<key>(1,-32)</key>
	<string>genericObstacle</string>
	<key>(1,-9)</key>
	<string>genericObstacle</string>
	<key>(1,14)</key>
	<string>genericObstacle</string>
	<key>(1,32)</key>
	<string>genericObstacle</string>
	<key>(10,-32)</key>
	<string>genericObstacle</string>
	<key>(10,24)</key>
	<string>genericObstacle</string>
	<key>(10,32)</key>
	<string>genericObstacle</string>
	<key>(10,4)</key>
	<string>genericObstacle</string>
	<key>(11,-32)</key>
	<string>genericObstacle</string>
	<key>(11,24)</key>
	<string>genericObstacle</string>
	<key>(11,32)</key>
	<string>genericObstacle</string>
	<key>(11,4)</key>
	<string>genericObstacle</string>
	<key>(12,-10)</key>
	<string>genericObstacle</string>
	<key>(12,-11)</key>
	<string>genericObstacle</string>
	<key>(12,-12)</key>
	<string>genericObstacle</string>
	<key>(12,-13)</key>
	<string>genericObstacle</string>
	<key>(12,-14)</key>
	<string>genericObstacle</string>
	<key>(12,-15)</key>
	<string>genericObstacle</string>
	<key>(12,-16)</key>
	<string>genericObstacle</string>
	<key>(12,-17)</key>
	<string>genericObstacle</string>
	<key>(12,-18)</key>
	<string>genericObstacle</string>
	<key>(12,-19)</key>
	<string>genericObstacle</string>
	<key>(12,-20)</key>
	<string>genericObstacle</string>
	<key>(12,-21)</key>
	<string>genericObstacle</string>
	<key>(12,-22)</key>
	<string>genericObstacle</string>
	<key>(12,-32)</key>
	<string>genericObstacle</string>
	<key>(12,-4)</key>
	<string>genericObstacle</string>
	<key>(12,-5)</key>
	<string>genericObstacle</string>
	<key>(12,-6)</key>
	<string>genericObstacle</string>
	<key>(12,-7)</key>
	<string>genericObstacle</string>
	<key>(12,-8)</key>
	<string>genericObstacle</string>
	<key>(12,-9)</key>
	<string>genericObstacle</string>
	<key>(12,24)</key>
	<string>genericObstacle</string>
	<key>(12,32)</key>
	<string>genericObstacle</string>
	<key>(12,4)</key>
	<string>genericObstacle</string>
	<key>(13,-22)</key>
	<string>genericObstacle</string>
	<key>(13,-32)</key>
	<string>genericObstacle</string>
	<key>(13,24)</key>
	<string>genericObstacle</string>
	<key>(13,32)</key>
	<string>genericObstacle</string>
	<key>(13,4)</key>
	<string>genericObstacle</string>
	<key>(14,-22)</key>
	<string>genericObstacle</string>
	<key>(14,-32)</key>
	<string>genericObstacle</string>
	<key>(14,14)</key>
	<string>genericObstacle</string>
	<key>(14,32)</key>
	<string>genericObstacle</string>
	<key>(14,4)</key>
	<string>genericObstacle</string>
	<key>(15,-22)</key>
	<string>genericObstacle</string>
	<key>(15,-32)</key>
	<string>genericObstacle</string>
	<key>(15,14)</key>
	<string>genericObstacle</string>
	<key>(15,32)</key>
	<string>genericObstacle</string>
	<key>(15,4)</key>
	<string>genericObstacle</string>
	<key>(16,-22)</key>
	<string>genericObstacle</string>
	<key>(16,-32)</key>
	<string>genericObstacle</string>
	<key>(16,14)</key>
	<string>genericObstacle</string>
	<key>(16,32)</key>
	<string>genericObstacle</string>
	<key>(16,4)</key>
	<string>genericObstacle</string>
	<key>(17,-22)</key>
	<string>genericObstacle</string>
	<key>(17,-32)</key>
	<string>genericObstacle</string>
	<key>(17,14)</key>
	<string>genericObstacle</string>
	<key>(17,32)</key>
	<string>genericObstacle</string>
	<key>(17,4)</key>
	<string>genericObstacle</string>
	<key>(18,-22)</key>
	<string>genericObstacle</string>
	<key>(18,-32)</key>
	<string>genericObstacle</string>
	<key>(18,14)</key>
	<string>genericObstacle</string>
	<key>(18,32)</key>
	<string>genericObstacle</string>
	<key>(18,4)</key>
	<string>genericObstacle</string>
	<key>(19,-22)</key>
	<string>genericObstacle</string>
	<key>(19,-32)</key>
	<string>genericObstacle</string>
	<key>(19,14)</key>
	<string>genericObstacle</string>
	<key>(19,32)</key>
	<string>genericObstacle</string>
	<key>(19,4)</key>
	<string>genericObstacle</string>
	<key>(2,-32)</key>
	<string>genericObstacle</string>
	<key>(2,-9)</key>
	<string>genericObstacle</string>
	<key>(2,14)</key>
	<string>genericObstacle</string>
	<key>(2,24)</key>
	<string>genericObstacle</string>
	<key>(2,32)</key>
	<string>genericObstacle</string>
	<key>(20,-1)</key>
	<string>genericObstacle</string>
	<key>(20,-10)</key>
	<string>genericObstacle</string>
	<key>(20,-11)</key>
	<string>genericObstacle</string>
	<key>(20,-12)</key>
	<string>genericObstacle</string>
	<key>(20,-13)</key>
	<string>genericObstacle</string>
	<key>(20,-14)</key>
	<string>genericObstacle</string>
	<key>(20,-15)</key>
	<string>genericObstacle</string>
	<key>(20,-16)</key>
	<string>genericObstacle</string>
	<key>(20,-17)</key>
	<string>genericObstacle</string>
	<key>(20,-18)</key>
	<string>genericObstacle</string>
	<key>(20,-19)</key>
	<string>genericObstacle</string>
	<key>(20,-2)</key>
	<string>genericObstacle</string>
	<key>(20,-20)</key>
	<string>genericObstacle</string>
	<key>(20,-21)</key>
	<string>genericObstacle</string>
	<key>(20,-22)</key>
	<string>genericObstacle</string>
	<key>(20,-23)</key>
	<string>genericObstacle</string>
	<key>(20,-24)</key>
	<string>genericObstacle</string>
	<key>(20,-25)</key>
	<string>genericObstacle</string>
	<key>(20,-26)</key>
	<string>genericObstacle</string>
	<key>(20,-27)</key>
	<string>genericObstacle</string>
	<key>(20,-28)</key>
	<string>genericObstacle</string>
	<key>(20,-29)</key>
	<string>genericObstacle</string>
	<key>(20,-3)</key>
	<string>genericObstacle</string>
	<key>(20,-30)</key>
	<string>genericObstacle</string>
	<key>(20,-31)</key>
	<string>genericObstacle</string>
	<key>(20,-32)</key>
	<string>genericObstacle</string>
	<key>(20,-4)</key>
	<string>genericObstacle</string>
	<key>(20,-5)</key>
	<string>genericObstacle</string>
	<key>(20,-6)</key>
	<string>genericObstacle</string>
	<key>(20,-7)</key>
	<string>genericObstacle</string>
	<key>(20,-8)</key>
	<string>genericObstacle</string>
	<key>(20,-9)</key>
	<string>genericObstacle</string>
	<key>(20,0)</key>
	<string>genericObstacle</string>
	<key>(20,1)</key>
	<string>genericObstacle</string>
	<key>(20,10)</key>
	<string>genericObstacle</string>
	<key>(20,11)</key>
	<string>genericObstacle</string>
	<key>(20,12)</key>
	<string>genericObstacle</string>
	<key>(20,13)</key>
	<string>genericObstacle</string>
	<key>(20,14)</key>
	<string>genericObstacle</string>
	<key>(20,15)</key>
	<string>genericObstacle</string>
	<key>(20,16)</key>
	<string>genericObstacle</string>
	<key>(20,17)</key>
	<string>genericObstacle</string>
	<key>(20,18)</key>
	<string>genericObstacle</string>
	<key>(20,19)</key>
	<string>genericObstacle</string>
	<key>(20,2)</key>
	<string>genericObstacle</string>
	<key>(20,20)</key>
	<string>genericObstacle</string>
	<key>(20,21)</key>
	<string>genericObstacle</string>
	<key>(20,22)</key>
	<string>genericObstacle</string>
	<key>(20,23)</key>
	<string>genericObstacle</string>
	<key>(20,24)</key>
	<string>genericObstacle</string>
	<key>(20,25)</key>
	<string>genericObstacle</string>
	<key>(20,26)</key>
	<string>genericObstacle</string>
	<key>(20,27)</key>
	<string>genericObstacle</string>
	<key>(20,28)</key>
	<string>genericObstacle</string>
	<key>(20,29)</key>
	<string>genericObstacle</string>
	<key>(20,3)</key>
	<string>genericObstacle</string>
	<key>(20,30)</key>
	<string>genericObstacle</string>
	<key>(20,31)</key>
	<string>genericObstacle</string>
	<key>(20,32)</key>
	<string>genericObstacle</string>
	<key>(20,4)</key>
	<string>genericObstacle</string>
	<key>(20,5)</key>
	<string>genericObstacle</string>
	<key>(20,6)</key>
	<string>genericObstacle</string>
	<key>(20,7)</key>
	<string>genericObstacle</string>
	<key>(20,8)</key>
	<string>genericObstacle</string>
	<key>(20,9)</key>
	<string>genericObstacle</string>
	<key>(3,-32)</key>
	<string>genericObstacle</string>
	<key>(3,-9)</key>
	<string>genericObstacle</string>
	<key>(3,14)</key>
	<string>genericObstacle</string>
	<key>(3,24)</key>
	<string>genericObstacle</string>
	<key>(3,32)</key>
	<string>genericObstacle</string>
	<key>(4,-32)</key>
	<string>genericObstacle</string>
	<key>(4,14)</key>
	<string>genericObstacle</string>
	<key>(4,24)</key>
	<string>genericObstacle</string>
	<key>(4,32)</key>
	<string>genericObstacle</string>
	<key>(4,4)</key>
	<string>genericObstacle</string>
	<key>(5,-32)</key>
	<string>genericObstacle</string>
	<key>(5,14)</key>
	<string>genericObstacle</string>
	<key>(5,24)</key>
	<string>genericObstacle</string>
	<key>(5,32)</key>
	<string>genericObstacle</string>
	<key>(5,4)</key>
	<string>genericObstacle</string>
	<key>(6,-32)</key>
	<string>genericObstacle</string>
	<key>(6,14)</key>
	<string>genericObstacle</string>
	<key>(6,24)</key>
	<string>genericObstacle</string>
	<key>(6,32)</key>
	<string>genericObstacle</string>
	<key>(6,4)</key>
	<string>genericObstacle</string>
	<key>(7,-32)</key>
	<string>genericObstacle</string>
	<key>(7,14)</key>
	<string>genericObstacle</string>
	<key>(7,24)</key>
	<string>genericObstacle</string>
	<key>(7,32)</key>
	<string>genericObstacle</string>
	<key>(7,4)</key>
	<string>genericObstacle</string>
	<key>(8,-32)</key>
	<string>genericObstacle</string>
	<key>(8,14)</key>
	<string>genericObstacle</string>
	<key>(8,24)</key>
	<string>genericObstacle</string>
	<key>(8,32)</key>
	<string>genericObstacle</string>
	<key>(8,4)</key>
	<string>genericObstacle</string>
	<key>(9,-32)</key>
	<string>genericObstacle</string>
	<key>(9,14)</key>
	<string>genericObstacle</string>
	<key>(9,24)</key>
	<string>genericObstacle</string>
	<key>(9,32)</key>
	<string>genericObstacle</string>
	<key>(9,4)</key>
	<string>genericObstacle</string>
</dict>
</plist>
