<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>(-1,-16)</key>
	<string>genericObstacle</string>
	<key>(-1,-32)</key>
	<string>genericObstacle</string>
	<key>(-1,-8)</key>
	<string>genericObstacle</string>
	<key>(-1,0)</key>
	<string>genericObstacle</string>
	<key>(-1,16)</key>
	<string>genericObstacle</string>
	<key>(-1,24)</key>
	<string>genericObstacle</string>
	<key>(-1,32)</key>
	<string>genericObstacle</string>
	<key>(-10,-16)</key>
	<string>genericObstacle</string>
	<key>(-10,-24)</key>
	<string>genericObstacle</string>
	<key>(-10,-32)</key>
	<string>genericObstacle</string>
	<key>(-10,-8)</key>
	<string>genericObstacle</string>
	<key>(-10,0)</key>
	<string>genericObstacle</string>
	<key>(-10,16)</key>
	<string>genericObstacle</string>
	<key>(-10,32)</key>
	<string>genericObstacle</string>
	<key>(-10,8)</key>
	<string>genericObstacle</string>
	<key>(-11,-16)</key>
	<string>genericObstacle</string>
	<key>(-11,-24)</key>
	<string>genericObstacle</string>
	<key>(-11,-32)</key>
	<string>genericObstacle</string>
	<key>(-11,-8)</key>
	<string>genericObstacle</string>
	<key>(-11,0)</key>
	<string>genericObstacle</string>
	<key>(-11,16)</key>
	<string>genericObstacle</string>
	<key>(-11,32)</key>
	<string>genericObstacle</string>
	<key>(-11,8)</key>
	<string>genericObstacle</string>
	<key>(-12,-16)</key>
	<string>genericObstacle</string>
	<key>(-12,-24)</key>
	<string>genericObstacle</string>
	<key>(-12,-32)</key>
	<string>genericObstacle</string>
	<key>(-12,-8)</key>
	<string>genericObstacle</string>
	<key>(-12,0)</key>
	<string>genericObstacle</string>
	<key>(-12,16)</key>
	<string>genericObstacle</string>
	<key>(-12,32)</key>
	<string>genericObstacle</string>
	<key>(-12,8)</key>
	<string>genericObstacle</string>
	<key>(-13,-24)</key>
	<string>genericObstacle</string>
	<key>(-13,-32)</key>
	<string>genericObstacle</string>
	<key>(-13,0)</key>
	<string>genericObstacle</string>
	<key>(-13,32)</key>
	<string>genericObstacle</string>
	<key>(-13,8)</key>
	<string>genericObstacle</string>
	<key>(-14,-32)</key>
	<string>genericObstacle</string>
	<key>(-14,0)</key>
	<string>genericObstacle</string>
	<key>(-14,32)</key>
	<string>genericObstacle</string>
	<key>(-14,8)</key>
	<string>genericObstacle</string>
	<key>(-15,-32)</key>
	<string>genericObstacle</string>
	<key>(-15,0)</key>
	<string>genericObstacle</string>
	<key>(-15,32)</key>
	<string>genericObstacle</string>
	<key>(-15,8)</key>
	<string>genericObstacle</string>
	<key>(-16,-32)</key>
	<string>genericObstacle</string>
	<key>(-16,0)</key>
	<string>genericObstacle</string>
	<key>(-16,32)</key>
	<string>genericObstacle</string>
	<key>(-16,8)</key>
	<string>genericObstacle</string>
	<key>(-17,-32)</key>
	<string>genericObstacle</string>
	<key>(-17,0)</key>
	<string>genericObstacle</string>
	<key>(-17,32)</key>
	<string>genericObstacle</string>
	<key>(-17,8)</key>
	<string>genericObstacle</string>
	<key>(-18,-32)</key>
	<string>genericObstacle</string>
	<key>(-18,0)</key>
	<string>genericObstacle</string>
	<key>(-18,32)</key>
	<string>genericObstacle</string>
	<key>(-18,8)</key>
	<string>genericObstacle</string>
	<key>(-19,-32)</key>
	<string>genericObstacle</string>
	<key>(-19,0)</key>
	<string>genericObstacle</string>
	<key>(-19,32)</key>
	<string>genericObstacle</string>
	<key>(-19,8)</key>
	<string>genericObstacle</string>
	<key>(-2,-16)</key>
	<string>genericObstacle</string>
	<key>(-2,-24)</key>
	<string>genericObstacle</string>
	<key>(-2,-32)</key>
	<string>genericObstacle</string>
	<key>(-2,-8)</key>
	<string>genericObstacle</string>
	<key>(-2,0)</key>
	<string>genericObstacle</string>
	<key>(-2,16)</key>
	<string>genericObstacle</string>
	<key>(-2,24)</key>
	<string>genericObstacle</string>
	<key>(-2,32)</key>
	<string>genericObstacle</string>
	<key>(-20,-1)</key>
	<string>genericObstacle</string>
	<key>(-20,-10)</key>
	<string>genericObstacle</string>
	<key>(-20,-11)</key>
	<string>genericObstacle</string>
	<key>(-20,-12)</key>
	<string>genericObstacle</string>
	<key>(-20,-13)</key>
	<string>genericObstacle</string>
	<key>(-20,-14)</key>
	<string>genericObstacle</string>
	<key>(-20,-15)</key>
	<string>genericObstacle</string>
	<key>(-20,-16)</key>
	<string>genericObstacle</string>
	<key>(-20,-17)</key>
	<string>genericObstacle</string>
	<key>(-20,-18)</key>
	<string>genericObstacle</string>
	<key>(-20,-19)</key>
	<string>genericObstacle</string>
	<key>(-20,-2)</key>
	<string>genericObstacle</string>
	<key>(-20,-20)</key>
	<string>genericObstacle</string>
	<key>(-20,-21)</key>
	<string>genericObstacle</string>
	<key>(-20,-22)</key>
	<string>genericObstacle</string>
	<key>(-20,-23)</key>
	<string>genericObstacle</string>
	<key>(-20,-24)</key>
	<string>genericObstacle</string>
	<key>(-20,-25)</key>
	<string>genericObstacle</string>
	<key>(-20,-26)</key>
	<string>genericObstacle</string>
	<key>(-20,-27)</key>
	<string>genericObstacle</string>
	<key>(-20,-28)</key>
	<string>genericObstacle</string>
	<key>(-20,-29)</key>
	<string>genericObstacle</string>
	<key>(-20,-3)</key>
	<string>genericObstacle</string>
	<key>(-20,-30)</key>
	<string>genericObstacle</string>
	<key>(-20,-31)</key>
	<string>genericObstacle</string>
	<key>(-20,-32)</key>
	<string>genericObstacle</string>
	<key>(-20,-4)</key>
	<string>genericObstacle</string>
	<key>(-20,-5)</key>
	<string>genericObstacle</string>
	<key>(-20,-6)</key>
	<string>genericObstacle</string>
	<key>(-20,-7)</key>
	<string>genericObstacle</string>
	<key>(-20,-8)</key>
	<string>genericObstacle</string>
	<key>(-20,-9)</key>
	<string>genericObstacle</string>
	<key>(-20,0)</key>
	<string>genericObstacle</string>
	<key>(-20,1)</key>
	<string>genericObstacle</string>
	<key>(-20,10)</key>
	<string>genericObstacle</string>
	<key>(-20,11)</key>
	<string>genericObstacle</string>
	<key>(-20,12)</key>
	<string>genericObstacle</string>
	<key>(-20,13)</key>
	<string>genericObstacle</string>
	<key>(-20,14)</key>
	<string>genericObstacle</string>
	<key>(-20,15)</key>
	<string>genericObstacle</string>
	<key>(-20,16)</key>
	<string>genericObstacle</string>
	<key>(-20,17)</key>
	<string>genericObstacle</string>
	<key>(-20,18)</key>
	<string>genericObstacle</string>
	<key>(-20,19)</key>
	<string>genericObstacle</string>
	<key>(-20,2)</key>
	<string>genericObstacle</string>
	<key>(-20,20)</key>
	<string>genericObstacle</string>
	<key>(-20,21)</key>
	<string>genericObstacle</string>
	<key>(-20,22)</key>
	<string>genericObstacle</string>
	<key>(-20,23)</key>
	<string>genericObstacle</string>
	<key>(-20,24)</key>
	<string>genericObstacle</string>
	<key>(-20,25)</key>
	<string>genericObstacle</string>
	<key>(-20,26)</key>
	<string>genericObstacle</string>
	<key>(-20,27)</key>
	<string>genericObstacle</string>
	<key>(-20,28)</key>
	<string>genericObstacle</string>
	<key>(-20,29)</key>
	<string>genericObstacle</string>
	<key>(-20,3)</key>
	<string>genericObstacle</string>
	<key>(-20,30)</key>
	<string>genericObstacle</string>
	<key>(-20,31)</key>
	<string>genericObstacle</string>
	<key>(-20,32)</key>
	<string>genericObstacle</string>
	<key>(-20,4)</key>
	<string>genericObstacle</string>
	<key>(-20,5)</key>
	<string>genericObstacle</string>
	<key>(-20,6)</key>
	<string>genericObstacle</string>
	<key>(-20,7)</key>
	<string>genericObstacle</string>
	<key>(-20,8)</key>
	<string>genericObstacle</string>
	<key>(-20,9)</key>
	<string>genericObstacle</string>
	<key>(-3,-16)</key>
	<string>genericObstacle</string>
	<key>(-3,-24)</key>
	<string>genericObstacle</string>
	<key>(-3,-32)</key>
	<string>genericObstacle</string>
	<key>(-3,-8)</key>
	<string>genericObstacle</string>
	<key>(-3,0)</key>
	<string>genericObstacle</string>
	<key>(-3,16)</key>
	<string>genericObstacle</string>
	<key>(-3,24)</key>
	<string>genericObstacle</string>
	<key>(-3,32)</key>
	<string>genericObstacle</string>
	<key>(-3,8)</key>
	<string>genericObstacle</string>
	<key>(-4,-16)</key>
	<string>genericObstacle</string>
	<key>(-4,-24)</key>
	<string>genericObstacle</string>
	<key>(-4,-32)</key>
	<string>genericObstacle</string>
	<key>(-4,-8)</key>
	<string>genericObstacle</string>
	<key>(-4,0)</key>
	<string>genericObstacle</string>
	<key>(-4,16)</key>
	<string>genericObstacle</string>
	<key>(-4,24)</key>
	<string>genericObstacle</string>
	<key>(-4,32)</key>
	<string>genericObstacle</string>
	<key>(-4,8)</key>
	<string>genericObstacle</string>
	<key>(-5,-16)</key>
	<string>genericObstacle</string>
	<key>(-5,-24)</key>
	<string>genericObstacle</string>
	<key>(-5,-32)</key>
	<string>genericObstacle</string>
	<key>(-5,-8)</key>
	<string>genericObstacle</string>
	<key>(-5,0)</key>
	<string>genericObstacle</string>
	<key>(-5,16)</key>
	<string>genericObstacle</string>
	<key>(-5,24)</key>
	<string>genericObstacle</string>
	<key>(-5,32)</key>
	<string>genericObstacle</string>
	<key>(-5,8)</key>
	<string>genericObstacle</string>
	<key>(-6,-16)</key>
	<string>genericObstacle</string>
	<key>(-6,-24)</key>
	<string>genericObstacle</string>
	<key>(-6,-32)</key>
	<string>genericObstacle</string>
	<key>(-6,-8)</key>
	<string>genericObstacle</string>
	<key>(-6,0)</key>
	<string>genericObstacle</string>
	<key>(-6,16)</key>
	<string>genericObstacle</string>
	<key>(-6,24)</key>
	<string>genericObstacle</string>
	<key>(-6,32)</key>
	<string>genericObstacle</string>
	<key>(-6,8)</key>
	<string>genericObstacle</string>
	<key>(-7,-16)</key>
	<string>genericObstacle</string>
	<key>(-7,-24)</key>
	<string>genericObstacle</string>
	<key>(-7,-32)</key>
	<string>genericObstacle</string>
	<key>(-7,-8)</key>
	<string>genericObstacle</string>
	<key>(-7,0)</key>
	<string>genericObstacle</string>
	<key>(-7,16)</key>
	<string>genericObstacle</string>
	<key>(-7,24)</key>
	<string>genericObstacle</string>
	<key>(-7,32)</key>
	<string>genericObstacle</string>
	<key>(-7,8)</key>
	<string>genericObstacle</string>
	<key>(-8,-16)</key>
	<string>genericObstacle</string>
	<key>(-8,-24)</key>
	<string>genericObstacle</string>
	<key>(-8,-32)</key>
	<string>genericObstacle</string>
	<key>(-8,-8)</key>
	<string>genericObstacle</string>
	<key>(-8,0)</key>
	<string>genericObstacle</string>
	<key>(-8,16)</key>
	<string>genericObstacle</string>
	<key>(-8,24)</key>
	<string>genericObstacle</string>
	<key>(-8,32)</key>
	<string>genericObstacle</string>
	<key>(-8,8)</key>
	<string>genericObstacle</string>
	<key>(-9,-16)</key>
	<string>genericObstacle</string>
	<key>(-9,-24)</key>
	<string>genericObstacle</string>
	<key>(-9,-32)</key>
	<string>genericObstacle</string>
	<key>(-9,-8)</key>
	<string>genericObstacle</string>
	<key>(-9,0)</key>
	<string>genericObstacle</string>
	<key>(-9,16)</key>
	<string>genericObstacle</string>
	<key>(-9,32)</key>
	<string>genericObstacle</string>
	<key>(-9,8)</key>
	<string>genericObstacle</string>
	<key>(0,-16)</key>
	<string>genericObstacle</string>
	<key>(0,-32)</key>
	<string>genericObstacle</string>
	<key>(0,-8)</key>
	<string>genericObstacle</string>
	<key>(0,0)</key>
	<string>genericObstacle</string>
	<key>(0,16)</key>
	<string>genericObstacle</string>
	<key>(0,24)</key>
	<string>genericObstacle</string>
	<key>(0,32)</key>
	<string>genericObstacle</string>
	<key>(1,-16)</key>
	<string>genericObstacle</string>
	<key>(1,-32)</key>
	<string>genericObstacle</string>
	<key>(1,-8)</key>
	<string>genericObstacle</string>
	<key>(1,0)</key>
	<string>genericObstacle</string>
	<key>(1,16)</key>
	<string>genericObstacle</string>
	<key>(1,24)</key>
	<string>genericObstacle</string>
	<key>(1,32)</key>
	<string>genericObstacle</string>
	<key>(10,-16)</key>
	<string>genericObstacle</string>
	<key>(10,-24)</key>
	<string>genericObstacle</string>
	<key>(10,-32)</key>
	<string>genericObstacle</string>
	<key>(10,-8)</key>
	<string>genericObstacle</string>
	<key>(10,0)</key>
	<string>genericObstacle</string>
	<key>(10,16)</key>
	<string>genericObstacle</string>
	<key>(10,24)</key>
	<string>genericObstacle</string>
	<key>(10,32)</key>
	<string>genericObstacle</string>
	<key>(10,8)</key>
	<string>genericObstacle</string>
	<key>(11,-16)</key>
	<string>genericObstacle</string>
	<key>(11,-24)</key>
	<string>genericObstacle</string>
	<key>(11,-32)</key>
	<string>genericObstacle</string>
	<key>(11,-8)</key>
	<string>genericObstacle</string>
	<key>(11,0)</key>
	<string>genericObstacle</string>
	<key>(11,16)</key>
	<string>genericObstacle</string>
	<key>(11,24)</key>
	<string>genericObstacle</string>
	<key>(11,32)</key>
	<string>genericObstacle</string>
	<key>(11,8)</key>
	<string>genericObstacle</string>
	<key>(12,-16)</key>
	<string>genericObstacle</string>
	<key>(12,-24)</key>
	<string>genericObstacle</string>
	<key>(12,-32)</key>
	<string>genericObstacle</string>
	<key>(12,-8)</key>
	<string>genericObstacle</string>
	<key>(12,0)</key>
	<string>genericObstacle</string>
	<key>(12,16)</key>
	<string>genericObstacle</string>
	<key>(12,24)</key>
	<string>genericObstacle</string>
	<key>(12,32)</key>
	<string>genericObstacle</string>
	<key>(12,8)</key>
	<string>genericObstacle</string>
	<key>(13,-16)</key>
	<string>genericObstacle</string>
	<key>(13,-24)</key>
	<string>genericObstacle</string>
	<key>(13,-32)</key>
	<string>genericObstacle</string>
	<key>(13,-8)</key>
	<string>genericObstacle</string>
	<key>(13,0)</key>
	<string>genericObstacle</string>
	<key>(13,16)</key>
	<string>genericObstacle</string>
	<key>(13,17)</key>
	<string>genericObstacle</string>
	<key>(13,18)</key>
	<string>genericObstacle</string>
	<key>(13,19)</key>
	<string>genericObstacle</string>
	<key>(13,20)</key>
	<string>genericObstacle</string>
	<key>(13,21)</key>
	<string>genericObstacle</string>
	<key>(13,22)</key>
	<string>genericObstacle</string>
	<key>(13,23)</key>
	<string>genericObstacle</string>
	<key>(13,24)</key>
	<string>genericObstacle</string>
	<key>(13,32)</key>
	<string>genericObstacle</string>
	<key>(13,8)</key>
	<string>genericObstacle</string>
	<key>(14,-24)</key>
	<string>genericObstacle</string>
	<key>(14,-32)</key>
	<string>genericObstacle</string>
	<key>(14,-8)</key>
	<string>genericObstacle</string>
	<key>(14,0)</key>
	<string>genericObstacle</string>
	<key>(14,16)</key>
	<string>genericObstacle</string>
	<key>(14,32)</key>
	<string>genericObstacle</string>
	<key>(14,8)</key>
	<string>genericObstacle</string>
	<key>(15,-24)</key>
	<string>genericObstacle</string>
	<key>(15,-32)</key>
	<string>genericObstacle</string>
	<key>(15,-8)</key>
	<string>genericObstacle</string>
	<key>(15,16)</key>
	<string>genericObstacle</string>
	<key>(15,32)</key>
	<string>genericObstacle</string>
	<key>(15,8)</key>
	<string>genericObstacle</string>
	<key>(16,-24)</key>
	<string>genericObstacle</string>
	<key>(16,-32)</key>
	<string>genericObstacle</string>
	<key>(16,-8)</key>
	<string>genericObstacle</string>
	<key>(16,16)</key>
	<string>genericObstacle</string>
	<key>(16,32)</key>
	<string>genericObstacle</string>
	<key>(16,8)</key>
	<string>genericObstacle</string>
	<key>(17,-24)</key>
	<string>genericObstacle</string>
	<key>(17,-32)</key>
	<string>genericObstacle</string>
	<key>(17,-8)</key>
	<string>genericObstacle</string>
	<key>(17,16)</key>
	<string>genericObstacle</string>
	<key>(17,32)</key>
	<string>genericObstacle</string>
	<key>(17,8)</key>
	<string>genericObstacle</string>
	<key>(18,-24)</key>
	<string>genericObstacle</string>
	<key>(18,-32)</key>
	<string>genericObstacle</string>
	<key>(18,-8)</key>
	<string>genericObstacle</string>
	<key>(18,16)</key>
	<string>genericObstacle</string>
	<key>(18,32)</key>
	<string>genericObstacle</string>
	<key>(18,8)</key>
	<string>genericObstacle</string>
	<key>(19,-24)</key>
	<string>genericObstacle</string>
	<key>(19,-32)</key>
	<string>genericObstacle</string>
	<key>(19,-8)</key>
	<string>genericObstacle</string>
	<key>(19,16)</key>
	<string>genericObstacle</string>
	<key>(19,32)</key>
	<string>genericObstacle</string>
	<key>(19,8)</key>
	<string>genericObstacle</string>
	<key>(2,-16)</key>
	<string>genericObstacle</string>
	<key>(2,-32)</key>
	<string>genericObstacle</string>
	<key>(2,-8)</key>
	<string>genericObstacle</string>
	<key>(2,0)</key>
	<string>genericObstacle</string>
	<key>(2,16)</key>
	<string>genericObstacle</string>
	<key>(2,24)</key>
	<string>genericObstacle</string>
	<key>(2,32)</key>
	<string>genericObstacle</string>
	<key>(20,-1)</key>
	<string>genericObstacle</string>
	<key>(20,-10)</key>
	<string>genericObstacle</string>
	<key>(20,-11)</key>
	<string>genericObstacle</string>
	<key>(20,-12)</key>
	<string>genericObstacle</string>
	<key>(20,-13)</key>
	<string>genericObstacle</string>
	<key>(20,-14)</key>
	<string>genericObstacle</string>
	<key>(20,-15)</key>
	<string>genericObstacle</string>
	<key>(20,-16)</key>
	<string>genericObstacle</string>
	<key>(20,-17)</key>
	<string>genericObstacle</string>
	<key>(20,-18)</key>
	<string>genericObstacle</string>
	<key>(20,-19)</key>
	<string>genericObstacle</string>
	<key>(20,-2)</key>
	<string>genericObstacle</string>
	<key>(20,-20)</key>
	<string>genericObstacle</string>
	<key>(20,-21)</key>
	<string>genericObstacle</string>
	<key>(20,-22)</key>
	<string>genericObstacle</string>
	<key>(20,-23)</key>
	<string>genericObstacle</string>
	<key>(20,-24)</key>
	<string>genericObstacle</string>
	<key>(20,-25)</key>
	<string>genericObstacle</string>
	<key>(20,-26)</key>
	<string>genericObstacle</string>
	<key>(20,-27)</key>
	<string>genericObstacle</string>
	<key>(20,-28)</key>
	<string>genericObstacle</string>
	<key>(20,-29)</key>
	<string>genericObstacle</string>
	<key>(20,-3)</key>
	<string>genericObstacle</string>
	<key>(20,-30)</key>
	<string>genericObstacle</string>
	<key>(20,-31)</key>
	<string>genericObstacle</string>
	<key>(20,-32)</key>
	<string>genericObstacle</string>
	<key>(20,-4)</key>
	<string>genericObstacle</string>
	<key>(20,-5)</key>
	<string>genericObstacle</string>
	<key>(20,-6)</key>
	<string>genericObstacle</string>
	<key>(20,-7)</key>
	<string>genericObstacle</string>
	<key>(20,-8)</key>
	<string>genericObstacle</string>
	<key>(20,-9)</key>
	<string>genericObstacle</string>
	<key>(20,0)</key>
	<string>genericObstacle</string>
	<key>(20,1)</key>
	<string>genericObstacle</string>
	<key>(20,10)</key>
	<string>genericObstacle</string>
	<key>(20,11)</key>
	<string>genericObstacle</string>
	<key>(20,12)</key>
	<string>genericObstacle</string>
	<key>(20,13)</key>
	<string>genericObstacle</string>
	<key>(20,14)</key>
	<string>genericObstacle</string>
	<key>(20,15)</key>
	<string>genericObstacle</string>
	<key>(20,16)</key>
	<string>genericObstacle</string>
	<key>(20,17)</key>
	<string>genericObstacle</string>
	<key>(20,18)</key>
	<string>genericObstacle</string>
	<key>(20,19)</key>
	<string>genericObstacle</string>
	<key>(20,2)</key>
	<string>genericObstacle</string>
	<key>(20,20)</key>
	<string>genericObstacle</string>
	<key>(20,21)</key>
	<string>genericObstacle</string>
	<key>(20,22)</key>
	<string>genericObstacle</string>
	<key>(20,23)</key>
	<string>genericObstacle</string>
	<key>(20,24)</key>
	<string>genericObstacle</string>
	<key>(20,25)</key>
	<string>genericObstacle</string>
	<key>(20,26)</key>
	<string>genericObstacle</string>
	<key>(20,27)</key>
	<string>genericObstacle</string>
	<key>(20,28)</key>
	<string>genericObstacle</string>
	<key>(20,29)</key>
	<string>genericObstacle</string>
	<key>(20,3)</key>
	<string>genericObstacle</string>
	<key>(20,30)</key>
	<string>genericObstacle</string>
	<key>(20,31)</key>
	<string>genericObstacle</string>
	<key>(20,32)</key>
	<string>genericObstacle</string>
	<key>(20,4)</key>
	<string>genericObstacle</string>
	<key>(20,5)</key>
	<string>genericObstacle</string>
	<key>(20,6)</key>
	<string>genericObstacle</string>
	<key>(20,7)</key>
	<string>genericObstacle</string>
	<key>(20,8)</key>
	<string>genericObstacle</string>
	<key>(20,9)</key>
	<string>genericObstacle</string>
	<key>(3,-16)</key>
	<string>genericObstacle</string>
	<key>(3,-32)</key>
	<string>genericObstacle</string>
	<key>(3,-8)</key>
	<string>genericObstacle</string>
	<key>(3,0)</key>
	<string>genericObstacle</string>
	<key>(3,16)</key>
	<string>genericObstacle</string>
	<key>(3,24)</key>
	<string>genericObstacle</string>
	<key>(3,32)</key>
	<string>genericObstacle</string>
	<key>(3,8)</key>
	<string>genericObstacle</string>
	<key>(4,-16)</key>
	<string>genericObstacle</string>
	<key>(4,-32)</key>
	<string>genericObstacle</string>
	<key>(4,-8)</key>
	<string>genericObstacle</string>
	<key>(4,0)</key>
	<string>genericObstacle</string>
	<key>(4,16)</key>
	<string>genericObstacle</string>
	<key>(4,24)</key>
	<string>genericObstacle</string>
	<key>(4,32)</key>
	<string>genericObstacle</string>
	<key>(4,8)</key>
	<string>genericObstacle</string>
	<key>(5,-16)</key>
	<string>genericObstacle</string>
	<key>(5,-32)</key>
	<string>genericObstacle</string>
	<key>(5,-8)</key>
	<string>genericObstacle</string>
	<key>(5,0)</key>
	<string>genericObstacle</string>
	<key>(5,16)</key>
	<string>genericObstacle</string>
	<key>(5,24)</key>
	<string>genericObstacle</string>
	<key>(5,32)</key>
	<string>genericObstacle</string>
	<key>(5,8)</key>
	<string>genericObstacle</string>
	<key>(6,-16)</key>
	<string>genericObstacle</string>
	<key>(6,-32)</key>
	<string>genericObstacle</string>
	<key>(6,-8)</key>
	<string>genericObstacle</string>
	<key>(6,0)</key>
	<string>genericObstacle</string>
	<key>(6,16)</key>
	<string>genericObstacle</string>
	<key>(6,24)</key>
	<string>genericObstacle</string>
	<key>(6,32)</key>
	<string>genericObstacle</string>
	<key>(6,8)</key>
	<string>genericObstacle</string>
	<key>(7,-16)</key>
	<string>genericObstacle</string>
	<key>(7,-24)</key>
	<string>genericObstacle</string>
	<key>(7,-32)</key>
	<string>genericObstacle</string>
	<key>(7,-8)</key>
	<string>genericObstacle</string>
	<key>(7,0)</key>
	<string>genericObstacle</string>
	<key>(7,16)</key>
	<string>genericObstacle</string>
	<key>(7,24)</key>
	<string>genericObstacle</string>
	<key>(7,32)</key>
	<string>genericObstacle</string>
	<key>(7,8)</key>
	<string>genericObstacle</string>
	<key>(8,-16)</key>
	<string>genericObstacle</string>
	<key>(8,-24)</key>
	<string>genericObstacle</string>
	<key>(8,-32)</key>
	<string>genericObstacle</string>
	<key>(8,-8)</key>
	<string>genericObstacle</string>
	<key>(8,0)</key>
	<string>genericObstacle</string>
	<key>(8,16)</key>
	<string>genericObstacle</string>
	<key>(8,24)</key>
	<string>genericObstacle</string>
	<key>(8,32)</key>
	<string>genericObstacle</string>
	<key>(8,8)</key>
	<string>genericObstacle</string>
	<key>(9,-16)</key>
	<string>genericObstacle</string>
	<key>(9,-24)</key>
	<string>genericObstacle</string>
	<key>(9,-32)</key>
	<string>genericObstacle</string>
	<key>(9,-8)</key>
	<string>genericObstacle</string>
	<key>(9,0)</key>
	<string>genericObstacle</string>
	<key>(9,16)</key>
	<string>genericObstacle</string>
	<key>(9,24)</key>
	<string>genericObstacle</string>
	<key>(9,32)</key>
	<string>genericObstacle</string>
	<key>(9,8)</key>
	<string>genericObstacle</string>
</dict>
</plist>
