<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>(-1,-32)</key>
	<string>genericObstacle</string>
	<key>(-1,14)</key>
	<string>genericObstacle</string>
	<key>(-1,25)</key>
	<string>genericObstacle</string>
	<key>(-1,3)</key>
	<string>genericObstacle</string>
	<key>(-1,32)</key>
	<string>genericObstacle</string>
	<key>(-10,-32)</key>
	<string>genericObstacle</string>
	<key>(-10,14)</key>
	<string>genericObstacle</string>
	<key>(-10,25)</key>
	<string>genericObstacle</string>
	<key>(-10,32)</key>
	<string>genericObstacle</string>
	<key>(-11,-1)</key>
	<string>genericObstacle</string>
	<key>(-11,-10)</key>
	<string>genericObstacle</string>
	<key>(-11,-11)</key>
	<string>genericObstacle</string>
	<key>(-11,-12)</key>
	<string>genericObstacle</string>
	<key>(-11,-13)</key>
	<string>genericObstacle</string>
	<key>(-11,-14)</key>
	<string>genericObstacle</string>
	<key>(-11,-15)</key>
	<string>genericObstacle</string>
	<key>(-11,-16)</key>
	<string>genericObstacle</string>
	<key>(-11,-17)</key>
	<string>genericObstacle</string>
	<key>(-11,-18)</key>
	<string>genericObstacle</string>
	<key>(-11,-19)</key>
	<string>genericObstacle</string>
	<key>(-11,-2)</key>
	<string>genericObstacle</string>
	<key>(-11,-20)</key>
	<string>genericObstacle</string>
	<key>(-11,-21)</key>
	<string>genericObstacle</string>
	<key>(-11,-22)</key>
	<string>genericObstacle</string>
	<key>(-11,-23)</key>
	<string>genericObstacle</string>
	<key>(-11,-24)</key>
	<string>genericObstacle</string>
	<key>(-11,-25)</key>
	<string>genericObstacle</string>
	<key>(-11,-26)</key>
	<string>genericObstacle</string>
	<key>(-11,-3)</key>
	<string>genericObstacle</string>
	<key>(-11,-32)</key>
	<string>genericObstacle</string>
	<key>(-11,-4)</key>
	<string>genericObstacle</string>
	<key>(-11,-5)</key>
	<string>genericObstacle</string>
	<key>(-11,-6)</key>
	<string>genericObstacle</string>
	<key>(-11,-7)</key>
	<string>genericObstacle</string>
	<key>(-11,-8)</key>
	<string>genericObstacle</string>
	<key>(-11,-9)</key>
	<string>genericObstacle</string>
	<key>(-11,0)</key>
	<string>genericObstacle</string>
	<key>(-11,1)</key>
	<string>genericObstacle</string>
	<key>(-11,10)</key>
	<string>genericObstacle</string>
	<key>(-11,11)</key>
	<string>genericObstacle</string>
	<key>(-11,12)</key>
	<string>genericObstacle</string>
	<key>(-11,13)</key>
	<string>genericObstacle</string>
	<key>(-11,14)</key>
	<string>genericObstacle</string>
	<key>(-11,15)</key>
	<string>genericObstacle</string>
	<key>(-11,16)</key>
	<string>genericObstacle</string>
	<key>(-11,17)</key>
	<string>genericObstacle</string>
	<key>(-11,18)</key>
	<string>genericObstacle</string>
	<key>(-11,19)</key>
	<string>genericObstacle</string>
	<key>(-11,2)</key>
	<string>genericObstacle</string>
	<key>(-11,20)</key>
	<string>genericObstacle</string>
	<key>(-11,21)</key>
	<string>genericObstacle</string>
	<key>(-11,22)</key>
	<string>genericObstacle</string>
	<key>(-11,23)</key>
	<string>genericObstacle</string>
	<key>(-11,24)</key>
	<string>genericObstacle</string>
	<key>(-11,25)</key>
	<string>genericObstacle</string>
	<key>(-11,3)</key>
	<string>genericObstacle</string>
	<key>(-11,32)</key>
	<string>genericObstacle</string>
	<key>(-11,4)</key>
	<string>genericObstacle</string>
	<key>(-11,5)</key>
	<string>genericObstacle</string>
	<key>(-11,6)</key>
	<string>genericObstacle</string>
	<key>(-11,7)</key>
	<string>genericObstacle</string>
	<key>(-11,8)</key>
	<string>genericObstacle</string>
	<key>(-11,9)</key>
	<string>genericObstacle</string>
	<key>(-12,-32)</key>
	<string>genericObstacle</string>
	<key>(-12,32)</key>
	<string>genericObstacle</string>
	<key>(-13,-32)</key>
	<string>genericObstacle</string>
	<key>(-13,32)</key>
	<string>genericObstacle</string>
	<key>(-14,-32)</key>
	<string>genericObstacle</string>
	<key>(-14,32)</key>
	<string>genericObstacle</string>
	<key>(-15,-32)</key>
	<string>genericObstacle</string>
	<key>(-15,32)</key>
	<string>genericObstacle</string>
	<key>(-16,-32)</key>
	<string>genericObstacle</string>
	<key>(-16,32)</key>
	<string>genericObstacle</string>
	<key>(-17,-32)</key>
	<string>genericObstacle</string>
	<key>(-17,32)</key>
	<string>genericObstacle</string>
	<key>(-18,-32)</key>
	<string>genericObstacle</string>
	<key>(-18,32)</key>
	<string>genericObstacle</string>
	<key>(-19,-32)</key>
	<string>genericObstacle</string>
	<key>(-19,32)</key>
	<string>genericObstacle</string>
	<key>(-2,-32)</key>
	<string>genericObstacle</string>
	<key>(-2,14)</key>
	<string>genericObstacle</string>
	<key>(-2,25)</key>
	<string>genericObstacle</string>
	<key>(-2,3)</key>
	<string>genericObstacle</string>
	<key>(-2,32)</key>
	<string>genericObstacle</string>
	<key>(-20,-1)</key>
	<string>genericObstacle</string>
	<key>(-20,-10)</key>
	<string>genericObstacle</string>
	<key>(-20,-11)</key>
	<string>genericObstacle</string>
	<key>(-20,-12)</key>
	<string>genericObstacle</string>
	<key>(-20,-13)</key>
	<string>genericObstacle</string>
	<key>(-20,-14)</key>
	<string>genericObstacle</string>
	<key>(-20,-15)</key>
	<string>genericObstacle</string>
	<key>(-20,-16)</key>
	<string>genericObstacle</string>
	<key>(-20,-17)</key>
	<string>genericObstacle</string>
	<key>(-20,-18)</key>
	<string>genericObstacle</string>
	<key>(-20,-19)</key>
	<string>genericObstacle</string>
	<key>(-20,-2)</key>
	<string>genericObstacle</string>
	<key>(-20,-20)</key>
	<string>genericObstacle</string>
	<key>(-20,-21)</key>
	<string>genericObstacle</string>
	<key>(-20,-22)</key>
	<string>genericObstacle</string>
	<key>(-20,-23)</key>
	<string>genericObstacle</string>
	<key>(-20,-24)</key>
	<string>genericObstacle</string>
	<key>(-20,-25)</key>
	<string>genericObstacle</string>
	<key>(-20,-26)</key>
	<string>genericObstacle</string>
	<key>(-20,-27)</key>
	<string>genericObstacle</string>
	<key>(-20,-28)</key>
	<string>genericObstacle</string>
	<key>(-20,-29)</key>
	<string>genericObstacle</string>
	<key>(-20,-3)</key>
	<string>genericObstacle</string>
	<key>(-20,-30)</key>
	<string>genericObstacle</string>
	<key>(-20,-31)</key>
	<string>genericObstacle</string>
	<key>(-20,-32)</key>
	<string>genericObstacle</string>
	<key>(-20,-4)</key>
	<string>genericObstacle</string>
	<key>(-20,-5)</key>
	<string>genericObstacle</string>
	<key>(-20,-6)</key>
	<string>genericObstacle</string>
	<key>(-20,-7)</key>
	<string>genericObstacle</string>
	<key>(-20,-8)</key>
	<string>genericObstacle</string>
	<key>(-20,-9)</key>
	<string>genericObstacle</string>
	<key>(-20,0)</key>
	<string>genericObstacle</string>
	<key>(-20,1)</key>
	<string>genericObstacle</string>
	<key>(-20,10)</key>
	<string>genericObstacle</string>
	<key>(-20,11)</key>
	<string>genericObstacle</string>
	<key>(-20,12)</key>
	<string>genericObstacle</string>
	<key>(-20,13)</key>
	<string>genericObstacle</string>
	<key>(-20,14)</key>
	<string>genericObstacle</string>
	<key>(-20,15)</key>
	<string>genericObstacle</string>
	<key>(-20,16)</key>
	<string>genericObstacle</string>
	<key>(-20,17)</key>
	<string>genericObstacle</string>
	<key>(-20,18)</key>
	<string>genericObstacle</string>
	<key>(-20,19)</key>
	<string>genericObstacle</string>
	<key>(-20,2)</key>
	<string>genericObstacle</string>
	<key>(-20,20)</key>
	<string>genericObstacle</string>
	<key>(-20,21)</key>
	<string>genericObstacle</string>
	<key>(-20,22)</key>
	<string>genericObstacle</string>
	<key>(-20,23)</key>
	<string>genericObstacle</string>
	<key>(-20,24)</key>
	<string>genericObstacle</string>
	<key>(-20,25)</key>
	<string>genericObstacle</string>
	<key>(-20,26)</key>
	<string>genericObstacle</string>
	<key>(-20,27)</key>
	<string>genericObstacle</string>
	<key>(-20,28)</key>
	<string>genericObstacle</string>
	<key>(-20,29)</key>
	<string>genericObstacle</string>
	<key>(-20,3)</key>
	<string>genericObstacle</string>
	<key>(-20,30)</key>
	<string>genericObstacle</string>
	<key>(-20,31)</key>
	<string>genericObstacle</string>
	<key>(-20,32)</key>
	<string>genericObstacle</string>
	<key>(-20,4)</key>
	<string>genericObstacle</string>
	<key>(-20,5)</key>
	<string>genericObstacle</string>
	<key>(-20,6)</key>
	<string>genericObstacle</string>
	<key>(-20,7)</key>
	<string>genericObstacle</string>
	<key>(-20,8)</key>
	<string>genericObstacle</string>
	<key>(-20,9)</key>
	<string>genericObstacle</string>
	<key>(-3,-32)</key>
	<string>genericObstacle</string>
	<key>(-3,14)</key>
	<string>genericObstacle</string>
	<key>(-3,25)</key>
	<string>genericObstacle</string>
	<key>(-3,3)</key>
	<string>genericObstacle</string>
	<key>(-3,32)</key>
	<string>genericObstacle</string>
	<key>(-4,-32)</key>
	<string>genericObstacle</string>
	<key>(-4,14)</key>
	<string>genericObstacle</string>
	<key>(-4,25)</key>
	<string>genericObstacle</string>
	<key>(-4,3)</key>
	<string>genericObstacle</string>
	<key>(-4,32)</key>
	<string>genericObstacle</string>
	<key>(-5,-1)</key>
	<string>genericObstacle</string>
	<key>(-5,-10)</key>
	<string>genericObstacle</string>
	<key>(-5,-11)</key>
	<string>genericObstacle</string>
	<key>(-5,-12)</key>
	<string>genericObstacle</string>
	<key>(-5,-13)</key>
	<string>genericObstacle</string>
	<key>(-5,-14)</key>
	<string>genericObstacle</string>
	<key>(-5,-15)</key>
	<string>genericObstacle</string>
	<key>(-5,-16)</key>
	<string>genericObstacle</string>
	<key>(-5,-17)</key>
	<string>genericObstacle</string>
	<key>(-5,-18)</key>
	<string>genericObstacle</string>
	<key>(-5,-19)</key>
	<string>genericObstacle</string>
	<key>(-5,-2)</key>
	<string>genericObstacle</string>
	<key>(-5,-20)</key>
	<string>genericObstacle</string>
	<key>(-5,-21)</key>
	<string>genericObstacle</string>
	<key>(-5,-22)</key>
	<string>genericObstacle</string>
	<key>(-5,-23)</key>
	<string>genericObstacle</string>
	<key>(-5,-24)</key>
	<string>genericObstacle</string>
	<key>(-5,-25)</key>
	<string>genericObstacle</string>
	<key>(-5,-26)</key>
	<string>genericObstacle</string>
	<key>(-5,-27)</key>
	<string>genericObstacle</string>
	<key>(-5,-28)</key>
	<string>genericObstacle</string>
	<key>(-5,-29)</key>
	<string>genericObstacle</string>
	<key>(-5,-3)</key>
	<string>genericObstacle</string>
	<key>(-5,-30)</key>
	<string>genericObstacle</string>
	<key>(-5,-31)</key>
	<string>genericObstacle</string>
	<key>(-5,-32)</key>
	<string>genericObstacle</string>
	<key>(-5,-4)</key>
	<string>genericObstacle</string>
	<key>(-5,-5)</key>
	<string>genericObstacle</string>
	<key>(-5,-6)</key>
	<string>genericObstacle</string>
	<key>(-5,-7)</key>
	<string>genericObstacle</string>
	<key>(-5,-8)</key>
	<string>genericObstacle</string>
	<key>(-5,-9)</key>
	<string>genericObstacle</string>
	<key>(-5,0)</key>
	<string>genericObstacle</string>
	<key>(-5,1)</key>
	<string>genericObstacle</string>
	<key>(-5,14)</key>
	<string>genericObstacle</string>
	<key>(-5,2)</key>
	<string>genericObstacle</string>
	<key>(-5,25)</key>
	<string>genericObstacle</string>
	<key>(-5,3)</key>
	<string>genericObstacle</string>
	<key>(-5,32)</key>
	<string>genericObstacle</string>
	<key>(-6,-32)</key>
	<string>genericObstacle</string>
	<key>(-6,14)</key>
	<string>genericObstacle</string>
	<key>(-6,25)</key>
	<string>genericObstacle</string>
	<key>(-6,32)</key>
	<string>genericObstacle</string>
	<key>(-7,-32)</key>
	<string>genericObstacle</string>
	<key>(-7,14)</key>
	<string>genericObstacle</string>
	<key>(-7,25)</key>
	<string>genericObstacle</string>
	<key>(-7,32)</key>
	<string>genericObstacle</string>
	<key>(-8,-32)</key>
	<string>genericObstacle</string>
	<key>(-8,14)</key>
	<string>genericObstacle</string>
	<key>(-8,25)</key>
	<string>genericObstacle</string>
	<key>(-8,32)</key>
	<string>genericObstacle</string>
	<key>(-9,-32)</key>
	<string>genericObstacle</string>
	<key>(-9,14)</key>
	<string>genericObstacle</string>
	<key>(-9,25)</key>
	<string>genericObstacle</string>
	<key>(-9,32)</key>
	<string>genericObstacle</string>
	<key>(0,-32)</key>
	<string>genericObstacle</string>
	<key>(0,14)</key>
	<string>genericObstacle</string>
	<key>(0,25)</key>
	<string>genericObstacle</string>
	<key>(0,3)</key>
	<string>genericObstacle</string>
	<key>(0,32)</key>
	<string>genericObstacle</string>
	<key>(1,-32)</key>
	<string>genericObstacle</string>
	<key>(1,14)</key>
	<string>genericObstacle</string>
	<key>(1,25)</key>
	<string>genericObstacle</string>
	<key>(1,3)</key>
	<string>genericObstacle</string>
	<key>(1,32)</key>
	<string>genericObstacle</string>
	<key>(10,-32)</key>
	<string>genericObstacle</string>
	<key>(10,-9)</key>
	<string>genericObstacle</string>
	<key>(10,19)</key>
	<string>genericObstacle</string>
	<key>(10,25)</key>
	<string>genericObstacle</string>
	<key>(10,32)</key>
	<string>genericObstacle</string>
	<key>(11,-18)</key>
	<string>genericObstacle</string>
	<key>(11,-32)</key>
	<string>genericObstacle</string>
	<key>(11,-9)</key>
	<string>genericObstacle</string>
	<key>(11,19)</key>
	<string>genericObstacle</string>
	<key>(11,32)</key>
	<string>genericObstacle</string>
	<key>(11,8)</key>
	<string>genericObstacle</string>
	<key>(12,-18)</key>
	<string>genericObstacle</string>
	<key>(12,-32)</key>
	<string>genericObstacle</string>
	<key>(12,-9)</key>
	<string>genericObstacle</string>
	<key>(12,19)</key>
	<string>genericObstacle</string>
	<key>(12,32)</key>
	<string>genericObstacle</string>
	<key>(12,8)</key>
	<string>genericObstacle</string>
	<key>(13,-18)</key>
	<string>genericObstacle</string>
	<key>(13,-3)</key>
	<string>genericObstacle</string>
	<key>(13,-32)</key>
	<string>genericObstacle</string>
	<key>(13,-9)</key>
	<string>genericObstacle</string>
	<key>(13,19)</key>
	<string>genericObstacle</string>
	<key>(13,32)</key>
	<string>genericObstacle</string>
	<key>(13,8)</key>
	<string>genericObstacle</string>
	<key>(14,-18)</key>
	<string>genericObstacle</string>
	<key>(14,-3)</key>
	<string>genericObstacle</string>
	<key>(14,-32)</key>
	<string>genericObstacle</string>
	<key>(14,19)</key>
	<string>genericObstacle</string>
	<key>(14,32)</key>
	<string>genericObstacle</string>
	<key>(14,8)</key>
	<string>genericObstacle</string>
	<key>(15,-18)</key>
	<string>genericObstacle</string>
	<key>(15,-3)</key>
	<string>genericObstacle</string>
	<key>(15,-32)</key>
	<string>genericObstacle</string>
	<key>(15,19)</key>
	<string>genericObstacle</string>
	<key>(15,32)</key>
	<string>genericObstacle</string>
	<key>(15,8)</key>
	<string>genericObstacle</string>
	<key>(16,-18)</key>
	<string>genericObstacle</string>
	<key>(16,-3)</key>
	<string>genericObstacle</string>
	<key>(16,-32)</key>
	<string>genericObstacle</string>
	<key>(16,19)</key>
	<string>genericObstacle</string>
	<key>(16,32)</key>
	<string>genericObstacle</string>
	<key>(16,8)</key>
	<string>genericObstacle</string>
	<key>(17,-18)</key>
	<string>genericObstacle</string>
	<key>(17,-3)</key>
	<string>genericObstacle</string>
	<key>(17,-32)</key>
	<string>genericObstacle</string>
	<key>(17,19)</key>
	<string>genericObstacle</string>
	<key>(17,32)</key>
	<string>genericObstacle</string>
	<key>(17,8)</key>
	<string>genericObstacle</string>
	<key>(18,-18)</key>
	<string>genericObstacle</string>
	<key>(18,-3)</key>
	<string>genericObstacle</string>
	<key>(18,-32)</key>
	<string>genericObstacle</string>
	<key>(18,19)</key>
	<string>genericObstacle</string>
	<key>(18,32)</key>
	<string>genericObstacle</string>
	<key>(18,8)</key>
	<string>genericObstacle</string>
	<key>(19,-3)</key>
	<string>genericObstacle</string>
	<key>(19,-32)</key>
	<string>genericObstacle</string>
	<key>(19,19)</key>
	<string>genericObstacle</string>
	<key>(19,32)</key>
	<string>genericObstacle</string>
	<key>(19,8)</key>
	<string>genericObstacle</string>
	<key>(2,-32)</key>
	<string>genericObstacle</string>
	<key>(2,14)</key>
	<string>genericObstacle</string>
	<key>(2,25)</key>
	<string>genericObstacle</string>
	<key>(2,3)</key>
	<string>genericObstacle</string>
	<key>(2,32)</key>
	<string>genericObstacle</string>
	<key>(20,-1)</key>
	<string>genericObstacle</string>
	<key>(20,-10)</key>
	<string>genericObstacle</string>
	<key>(20,-11)</key>
	<string>genericObstacle</string>
	<key>(20,-12)</key>
	<string>genericObstacle</string>
	<key>(20,-13)</key>
	<string>genericObstacle</string>
	<key>(20,-14)</key>
	<string>genericObstacle</string>
	<key>(20,-15)</key>
	<string>genericObstacle</string>
	<key>(20,-16)</key>
	<string>genericObstacle</string>
	<key>(20,-17)</key>
	<string>genericObstacle</string>
	<key>(20,-18)</key>
	<string>genericObstacle</string>
	<key>(20,-19)</key>
	<string>genericObstacle</string>
	<key>(20,-2)</key>
	<string>genericObstacle</string>
	<key>(20,-20)</key>
	<string>genericObstacle</string>
	<key>(20,-21)</key>
	<string>genericObstacle</string>
	<key>(20,-22)</key>
	<string>genericObstacle</string>
	<key>(20,-23)</key>
	<string>genericObstacle</string>
	<key>(20,-24)</key>
	<string>genericObstacle</string>
	<key>(20,-25)</key>
	<string>genericObstacle</string>
	<key>(20,-26)</key>
	<string>genericObstacle</string>
	<key>(20,-27)</key>
	<string>genericObstacle</string>
	<key>(20,-28)</key>
	<string>genericObstacle</string>
	<key>(20,-29)</key>
	<string>genericObstacle</string>
	<key>(20,-3)</key>
	<string>genericObstacle</string>
	<key>(20,-30)</key>
	<string>genericObstacle</string>
	<key>(20,-31)</key>
	<string>genericObstacle</string>
	<key>(20,-32)</key>
	<string>genericObstacle</string>
	<key>(20,-4)</key>
	<string>genericObstacle</string>
	<key>(20,-5)</key>
	<string>genericObstacle</string>
	<key>(20,-6)</key>
	<string>genericObstacle</string>
	<key>(20,-7)</key>
	<string>genericObstacle</string>
	<key>(20,-8)</key>
	<string>genericObstacle</string>
	<key>(20,-9)</key>
	<string>genericObstacle</string>
	<key>(20,0)</key>
	<string>genericObstacle</string>
	<key>(20,1)</key>
	<string>genericObstacle</string>
	<key>(20,10)</key>
	<string>genericObstacle</string>
	<key>(20,11)</key>
	<string>genericObstacle</string>
	<key>(20,12)</key>
	<string>genericObstacle</string>
	<key>(20,13)</key>
	<string>genericObstacle</string>
	<key>(20,14)</key>
	<string>genericObstacle</string>
	<key>(20,15)</key>
	<string>genericObstacle</string>
	<key>(20,16)</key>
	<string>genericObstacle</string>
	<key>(20,17)</key>
	<string>genericObstacle</string>
	<key>(20,18)</key>
	<string>genericObstacle</string>
	<key>(20,19)</key>
	<string>genericObstacle</string>
	<key>(20,2)</key>
	<string>genericObstacle</string>
	<key>(20,20)</key>
	<string>genericObstacle</string>
	<key>(20,21)</key>
	<string>genericObstacle</string>
	<key>(20,22)</key>
	<string>genericObstacle</string>
	<key>(20,23)</key>
	<string>genericObstacle</string>
	<key>(20,24)</key>
	<string>genericObstacle</string>
	<key>(20,25)</key>
	<string>genericObstacle</string>
	<key>(20,26)</key>
	<string>genericObstacle</string>
	<key>(20,27)</key>
	<string>genericObstacle</string>
	<key>(20,28)</key>
	<string>genericObstacle</string>
	<key>(20,29)</key>
	<string>genericObstacle</string>
	<key>(20,3)</key>
	<string>genericObstacle</string>
	<key>(20,30)</key>
	<string>genericObstacle</string>
	<key>(20,31)</key>
	<string>genericObstacle</string>
	<key>(20,32)</key>
	<string>genericObstacle</string>
	<key>(20,4)</key>
	<string>genericObstacle</string>
	<key>(20,5)</key>
	<string>genericObstacle</string>
	<key>(20,6)</key>
	<string>genericObstacle</string>
	<key>(20,7)</key>
	<string>genericObstacle</string>
	<key>(20,8)</key>
	<string>genericObstacle</string>
	<key>(20,9)</key>
	<string>genericObstacle</string>
	<key>(3,-32)</key>
	<string>genericObstacle</string>
	<key>(3,14)</key>
	<string>genericObstacle</string>
	<key>(3,25)</key>
	<string>genericObstacle</string>
	<key>(3,3)</key>
	<string>genericObstacle</string>
	<key>(3,32)</key>
	<string>genericObstacle</string>
	<key>(4,-1)</key>
	<string>genericObstacle</string>
	<key>(4,-10)</key>
	<string>genericObstacle</string>
	<key>(4,-11)</key>
	<string>genericObstacle</string>
	<key>(4,-12)</key>
	<string>genericObstacle</string>
	<key>(4,-13)</key>
	<string>genericObstacle</string>
	<key>(4,-14)</key>
	<string>genericObstacle</string>
	<key>(4,-15)</key>
	<string>genericObstacle</string>
	<key>(4,-16)</key>
	<string>genericObstacle</string>
	<key>(4,-17)</key>
	<string>genericObstacle</string>
	<key>(4,-18)</key>
	<string>genericObstacle</string>
	<key>(4,-19)</key>
	<string>genericObstacle</string>
	<key>(4,-2)</key>
	<string>genericObstacle</string>
	<key>(4,-20)</key>
	<string>genericObstacle</string>
	<key>(4,-21)</key>
	<string>genericObstacle</string>
	<key>(4,-22)</key>
	<string>genericObstacle</string>
	<key>(4,-3)</key>
	<string>genericObstacle</string>
	<key>(4,-32)</key>
	<string>genericObstacle</string>
	<key>(4,-4)</key>
	<string>genericObstacle</string>
	<key>(4,-5)</key>
	<string>genericObstacle</string>
	<key>(4,-6)</key>
	<string>genericObstacle</string>
	<key>(4,-7)</key>
	<string>genericObstacle</string>
	<key>(4,-8)</key>
	<string>genericObstacle</string>
	<key>(4,-9)</key>
	<string>genericObstacle</string>
	<key>(4,0)</key>
	<string>genericObstacle</string>
	<key>(4,1)</key>
	<string>genericObstacle</string>
	<key>(4,2)</key>
	<string>genericObstacle</string>
	<key>(4,25)</key>
	<string>genericObstacle</string>
	<key>(4,3)</key>
	<string>genericObstacle</string>
	<key>(4,32)</key>
	<string>genericObstacle</string>
	<key>(5,-32)</key>
	<string>genericObstacle</string>
	<key>(5,-9)</key>
	<string>genericObstacle</string>
	<key>(5,25)</key>
	<string>genericObstacle</string>
	<key>(5,3)</key>
	<string>genericObstacle</string>
	<key>(5,32)</key>
	<string>genericObstacle</string>
	<key>(6,-32)</key>
	<string>genericObstacle</string>
	<key>(6,-9)</key>
	<string>genericObstacle</string>
	<key>(6,25)</key>
	<string>genericObstacle</string>
	<key>(6,3)</key>
	<string>genericObstacle</string>
	<key>(6,32)</key>
	<string>genericObstacle</string>
	<key>(7,-32)</key>
	<string>genericObstacle</string>
	<key>(7,-9)</key>
	<string>genericObstacle</string>
	<key>(7,25)</key>
	<string>genericObstacle</string>
	<key>(7,3)</key>
	<string>genericObstacle</string>
	<key>(7,32)</key>
	<string>genericObstacle</string>
	<key>(8,-32)</key>
	<string>genericObstacle</string>
	<key>(8,-9)</key>
	<string>genericObstacle</string>
	<key>(8,25)</key>
	<string>genericObstacle</string>
	<key>(8,32)</key>
	<string>genericObstacle</string>
	<key>(9,-32)</key>
	<string>genericObstacle</string>
	<key>(9,-9)</key>
	<string>genericObstacle</string>
	<key>(9,25)</key>
	<string>genericObstacle</string>
	<key>(9,32)</key>
	<string>genericObstacle</string>
</dict>
</plist>
