<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>(2,-12)</string>
	<key>1</key>
	<string>(17,19)</string>
	<key>2</key>
	<string>(15,-4)</string>
	<key>3</key>
	<string>(-10,-20)</string>
	<key>4</key>
	<string>(-16,-2)</string>
	<key>5</key>
	<string>(-7,28)</string>
	<key>6</key>
	<string>(9,6)</string>
	<key>7</key>
	<string>(0,0)</string>
</dict>
</plist>
