<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>(1,28)</string>
	<key>1</key>
	<string>(-8,20)</string>
	<key>10</key>
	<string>(12,-20)</string>
	<key>11</key>
	<string>(-10,4)</string>
	<key>2</key>
	<string>(1,20)</string>
	<key>3</key>
	<string>(-8,12)</string>
	<key>4</key>
	<string>(16,-2)</string>
	<key>5</key>
	<string>(16,12)</string>
	<key>6</key>
	<string>(-8,28)</string>
	<key>7</key>
	<string>(7,-12)</string>
	<key>8</key>
	<string>(-1,4)</string>
	<key>9</key>
	<string>(1,12)</string>
</dict>
</plist>
