<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>(13,8)</string>
	<key>1</key>
	<string>(0,29)</string>
	<key>2</key>
	<string>(-10,15)</string>
	<key>3</key>
	<string>(-2,-28)</string>
	<key>4</key>
	<string>(13,-11)</string>
	<key>5</key>
	<string>(12,24)</string>
	<key>6</key>
	<string>(-15,-28)</string>
	<key>7</key>
	<string>(0,0)</string>
</dict>
</plist>
