<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>(-1,-19)</key>
	<string>genericObstacle</string>
	<key>(-1,18)</key>
	<string>genericObstacle</string>
	<key>(-10,-19)</key>
	<string>genericObstacle</string>
	<key>(-10,18)</key>
	<string>genericObstacle</string>
	<key>(-11,-1)</key>
	<string>genericObstacle</string>
	<key>(-11,-10)</key>
	<string>genericObstacle</string>
	<key>(-11,-11)</key>
	<string>genericObstacle</string>
	<key>(-11,-12)</key>
	<string>genericObstacle</string>
	<key>(-11,-13)</key>
	<string>genericObstacle</string>
	<key>(-11,-14)</key>
	<string>genericObstacle</string>
	<key>(-11,-15)</key>
	<string>genericObstacle</string>
	<key>(-11,-16)</key>
	<string>genericObstacle</string>
	<key>(-11,-17)</key>
	<string>genericObstacle</string>
	<key>(-11,-18)</key>
	<string>genericObstacle</string>
	<key>(-11,-19)</key>
	<string>genericObstacle</string>
	<key>(-11,-2)</key>
	<string>genericObstacle</string>
	<key>(-11,-3)</key>
	<string>genericObstacle</string>
	<key>(-11,-4)</key>
	<string>genericObstacle</string>
	<key>(-11,-5)</key>
	<string>genericObstacle</string>
	<key>(-11,-6)</key>
	<string>genericObstacle</string>
	<key>(-11,-7)</key>
	<string>genericObstacle</string>
	<key>(-11,-8)</key>
	<string>genericObstacle</string>
	<key>(-11,-9)</key>
	<string>genericObstacle</string>
	<key>(-11,0)</key>
	<string>genericObstacle</string>
	<key>(-11,1)</key>
	<string>genericObstacle</string>
	<key>(-11,10)</key>
	<string>genericObstacle</string>
	<key>(-11,11)</key>
	<string>genericObstacle</string>
	<key>(-11,12)</key>
	<string>genericObstacle</string>
	<key>(-11,13)</key>
	<string>genericObstacle</string>
	<key>(-11,14)</key>
	<string>genericObstacle</string>
	<key>(-11,15)</key>
	<string>genericObstacle</string>
	<key>(-11,16)</key>
	<string>genericObstacle</string>
	<key>(-11,17)</key>
	<string>genericObstacle</string>
	<key>(-11,18)</key>
	<string>genericObstacle</string>
	<key>(-11,2)</key>
	<string>genericObstacle</string>
	<key>(-11,3)</key>
	<string>genericObstacle</string>
	<key>(-11,4)</key>
	<string>genericObstacle</string>
	<key>(-11,5)</key>
	<string>genericObstacle</string>
	<key>(-11,6)</key>
	<string>genericObstacle</string>
	<key>(-11,7)</key>
	<string>genericObstacle</string>
	<key>(-11,8)</key>
	<string>genericObstacle</string>
	<key>(-11,9)</key>
	<string>genericObstacle</string>
	<key>(-2,-19)</key>
	<string>genericObstacle</string>
	<key>(-2,18)</key>
	<string>genericObstacle</string>
	<key>(-3,-19)</key>
	<string>genericObstacle</string>
	<key>(-3,18)</key>
	<string>genericObstacle</string>
	<key>(-4,-19)</key>
	<string>genericObstacle</string>
	<key>(-4,18)</key>
	<string>genericObstacle</string>
	<key>(-5,-19)</key>
	<string>genericObstacle</string>
	<key>(-5,18)</key>
	<string>genericObstacle</string>
	<key>(-6,-19)</key>
	<string>genericObstacle</string>
	<key>(-6,18)</key>
	<string>genericObstacle</string>
	<key>(-7,-19)</key>
	<string>genericObstacle</string>
	<key>(-7,18)</key>
	<string>genericObstacle</string>
	<key>(-8,-19)</key>
	<string>genericObstacle</string>
	<key>(-8,18)</key>
	<string>genericObstacle</string>
	<key>(-9,-19)</key>
	<string>genericObstacle</string>
	<key>(-9,18)</key>
	<string>genericObstacle</string>
	<key>(0,-19)</key>
	<string>genericObstacle</string>
	<key>(0,18)</key>
	<string>genericObstacle</string>
	<key>(1,-19)</key>
	<string>genericObstacle</string>
	<key>(1,18)</key>
	<string>genericObstacle</string>
	<key>(10,-1)</key>
	<string>genericObstacle</string>
	<key>(10,-10)</key>
	<string>genericObstacle</string>
	<key>(10,-11)</key>
	<string>genericObstacle</string>
	<key>(10,-12)</key>
	<string>genericObstacle</string>
	<key>(10,-13)</key>
	<string>genericObstacle</string>
	<key>(10,-14)</key>
	<string>genericObstacle</string>
	<key>(10,-15)</key>
	<string>genericObstacle</string>
	<key>(10,-16)</key>
	<string>genericObstacle</string>
	<key>(10,-17)</key>
	<string>genericObstacle</string>
	<key>(10,-18)</key>
	<string>genericObstacle</string>
	<key>(10,-19)</key>
	<string>genericObstacle</string>
	<key>(10,-2)</key>
	<string>genericObstacle</string>
	<key>(10,-3)</key>
	<string>genericObstacle</string>
	<key>(10,-4)</key>
	<string>genericObstacle</string>
	<key>(10,-5)</key>
	<string>genericObstacle</string>
	<key>(10,-6)</key>
	<string>genericObstacle</string>
	<key>(10,-7)</key>
	<string>genericObstacle</string>
	<key>(10,-8)</key>
	<string>genericObstacle</string>
	<key>(10,-9)</key>
	<string>genericObstacle</string>
	<key>(10,0)</key>
	<string>genericObstacle</string>
	<key>(10,1)</key>
	<string>genericObstacle</string>
	<key>(10,10)</key>
	<string>genericObstacle</string>
	<key>(10,11)</key>
	<string>genericObstacle</string>
	<key>(10,12)</key>
	<string>genericObstacle</string>
	<key>(10,13)</key>
	<string>genericObstacle</string>
	<key>(10,14)</key>
	<string>genericObstacle</string>
	<key>(10,15)</key>
	<string>genericObstacle</string>
	<key>(10,16)</key>
	<string>genericObstacle</string>
	<key>(10,17)</key>
	<string>genericObstacle</string>
	<key>(10,18)</key>
	<string>genericObstacle</string>
	<key>(10,2)</key>
	<string>genericObstacle</string>
	<key>(10,3)</key>
	<string>genericObstacle</string>
	<key>(10,4)</key>
	<string>genericObstacle</string>
	<key>(10,5)</key>
	<string>genericObstacle</string>
	<key>(10,6)</key>
	<string>genericObstacle</string>
	<key>(10,7)</key>
	<string>genericObstacle</string>
	<key>(10,8)</key>
	<string>genericObstacle</string>
	<key>(10,9)</key>
	<string>genericObstacle</string>
	<key>(2,-19)</key>
	<string>genericObstacle</string>
	<key>(2,18)</key>
	<string>genericObstacle</string>
	<key>(3,-19)</key>
	<string>genericObstacle</string>
	<key>(3,18)</key>
	<string>genericObstacle</string>
	<key>(4,-19)</key>
	<string>genericObstacle</string>
	<key>(4,18)</key>
	<string>genericObstacle</string>
	<key>(5,-19)</key>
	<string>genericObstacle</string>
	<key>(5,18)</key>
	<string>genericObstacle</string>
	<key>(6,-19)</key>
	<string>genericObstacle</string>
	<key>(6,18)</key>
	<string>genericObstacle</string>
	<key>(7,-19)</key>
	<string>genericObstacle</string>
	<key>(7,18)</key>
	<string>genericObstacle</string>
	<key>(8,-19)</key>
	<string>genericObstacle</string>
	<key>(8,18)</key>
	<string>genericObstacle</string>
	<key>(9,-19)</key>
	<string>genericObstacle</string>
	<key>(9,18)</key>
	<string>genericObstacle</string>
</dict>
</plist>
